In [33]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
happiness_file = "data/world-happiness-report.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df=happiness_df.rename(columns={'Country name':'Entity'})
happiness_df['key']=happiness_df['Entity']+'_'+happiness_df['year'].astype('str')
happiness_df.head()

,Entity,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,key
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Afghanistan_2008
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Afghanistan_2009
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Afghanistan_2010
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Afghanistan_2011
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Afghanistan_2012

In [3]:
happiness_df.columns

Index(['Entity', 'year', 'Life Ladder', 'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption', 'Positive affect',
       'Negative affect', 'key'],
      dtype='object')

In [43]:
veggies_file = "data/vegetable-consumption-per-capita.csv"
veggies_df = pd.read_csv(veggies_file)
veggies_df['key']=veggies_df['Entity']+'_'+veggies_df['Year'].astype('str')
# Rename the column headers
veggies_transform = veggies_df.rename(columns={"Vegetables - Food supply quantity (kg/capita/yr) (FAO, 2020)": "Veggies kg/capita",
    })

#veggies_transformed = veggies_transform ["Entity","Year", "Veggies (kg/capita)","key"]
veggies_transform.head()

        Entity Code  Year  Veggies kg/capita               key
0  Afghanistan  AFG  1961              36.75  Afghanistan_1961
1  Afghanistan  AFG  1962              37.47  Afghanistan_1962
2  Afghanistan  AFG  1963              38.87  Afghanistan_1963
3  Afghanistan  AFG  1964              40.17  Afghanistan_1964
4  Afghanistan  AFG  1965              40.83  Afghanistan_1965

In [22]:
fruits_file = "data/fruit-consumption-per-capita.csv"
fruits_df = pd.read_csv(fruits_file)
fruits_df['key']=fruits_df['Entity']+'_'+fruits_df['Year'].astype('str')
# Rename the column headers
fruits_df = fruits_df.rename(columns={"Fruits - Excluding Wine - Food supply quantity (kg/capita/yr) (FAO, 2020)": "Fruits kg/capita",
    })
fruits_df.head()

        Entity Code  Year  Fruits kg/capita               key
0  Afghanistan  AFG  1961             41.13  Afghanistan_1961
1  Afghanistan  AFG  1962             38.00  Afghanistan_1962
2  Afghanistan  AFG  1963             38.25  Afghanistan_1963
3  Afghanistan  AFG  1964             47.92  Afghanistan_1964
4  Afghanistan  AFG  1965             48.69  Afghanistan_1965

In [7]:
# Create a filtered dataframe from specific columns
# Dropped Social support, Freedom to make life choices, Generosity, Perceptions of corruption, Positive affect, Negative affect
happiness_cols = ["Entity","year","Life Ladder","Log GDP per capita","Healthy life expectancy at birth",'key']
happiness_transformed= happiness_df[happiness_cols].copy()
happiness_transformed = happiness_transformed.rename(columns={"year": "Year",
    })
happiness_transformed.head()

,Entity,Year,Life Ladder,Log GDP per capita,Healthy life expectancy at birth,key
0,Afghanistan,2008,3.724,7.370,50.80,Afghanistan_2008
1,Afghanistan,2009,4.402,7.540,51.20,Afghanistan_2009
2,Afghanistan,2010,4.758,7.647,51.60,Afghanistan_2010
3,Afghanistan,2011,3.832,7.620,51.92,Afghanistan_2011
4,Afghanistan,2012,3.783,7.705,52.24,Afghanistan_2012

In [45]:
rds_connection_string = "postgres:postgres@localhost:5432/happiness_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['fruits_df', 'happiness_df', 'veggies_df']

In [46]:
# Load Happiness data
happiness_transformed.to_sql("happiness_df", con=engine, if_exists="append", index=False)

In [39]:
# Load Fruits data
fruits_df.to_sql("fruits_df", con=engine, if_exists="append", index=False)

In [44]:
# Load Veggie data
veggies_transform.to_sql("veggies_df", con=engine, if_exists="append", index=False)